

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  padding: 0;
  box-sizing: border-box;
}


/* .navbar{
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar ul{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 20px;
} */

.sidebar{
  height: 100vh;
  width: 200px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.07);
  list-style: none;
}
.sidebar ul{
  display: flex;
  margin: 30px;
  margin-top: 30px;
  flex-direction: column;
  font-size: large;
  gap: 30px;
  list-style: none;
  text-decoration: none;
}
.sidebar a:hover {
  color: #f6d2cb;
  background-color: #ff5f3c;
  transition: 0.2s ease;
  border-radius: 5px;
  padding: 2px 2px;
}
.sidebar a{
  text-decoration: none;
  border-radius: 5px;
  padding: 2px 2px;
}

.layout{
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}
.grid{
  display: grid;
  grid-template-rows: 50px 1fr ;
  height: 100vh;
}
.navbar{
  display: flex;
  justify-content: center;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.07);

}
.content{
  margin: 20px;
  align-items: center;
  flex-direction: column;
}
.logo{
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.addtask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.X{
  all:unset;
  color: #ff3508;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 1000px;
}
.formyes{
  display: flex;
  flex-direction: column;
  gap: 25px;

}
.formyes form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.taskcard{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
    border-radius: 16px;
    width: 300px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.12);
    gap: 5px;
}

.formyes label{
  display: flex;
  flex-direction: column;
  font-weight: 1000px;
  gap: 2px;
}


.formyes ul:hover {
  background: #ff5f3c;
}
.formyes1 ul:hover {
  background: #ff5f3c;
}

.formyes input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

#darkmode{
  margin-top: auto;
}


.formyes button {
  width: 100%;
  padding: 12px;
  background: #ff7a5c;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

.formyes button:hover {
  background: #ff5f3c;
}


#addbutton{
    width: 100%;
    padding: 5px;
    background: #ff7a5c;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

#addbutton hover {
  background: #ff3508;
}

.addtask h2{
  margin: 0;
  margin-top: 10px;
}

.newcontent{
  flex: 1;
}

.newthing{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.textthing{
  display:flex;
  justify-content: center;
}
.textthing input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  justify-content: center;
}


/* .maintemplate {
  margin : 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 90px 360px;
  min-height: 330px;
  min-width: 100px;
  position: fixed;
  top: 37%;
  left: 19%;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
} */
.maintemplate {
  margin-top: 30px;
  width: 100%;
  min-height: 330px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.2);
}

#button1 {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  margin-right: 3px;
}
#button2 {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}


#new-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #ff7a5c;
  color: white;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#new-button:hover {
  background-color: #ff5f3c;
  transition: 0.2s ease;
}

#new-add{
  display: flex;
  gap: 2px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.linebreak {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  margin: 16px;
}

#darkmode{
  margin: 17px;

}
#darkmode :hover{
  
  background-color: grey;
  transition: 0.2s;
  border-radius: 5px;
  padding: 2px 2px

}
#darkmode button {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 13px;
  gap: 12px;
}
#darkmode button:focus {
  outline: none;
}
#title{
  display: flex;
  justify-content: flex-start;
}
.maincard{
  display: flex;
  gap: 32px;
}

.card{
  margin-top: 5px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.12);
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  display: flex;
  flex-direction: row;
  
}

.addnewtask{
  width: 50%;
  padding: 5px;
  background: #ff7a5c;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease;
  text-decoration: none;
}

.justalink{
  text-decoration: none;
  color: white;
}